@import "node_modules/bootstrap/scss/bootstrap.scss";
$breakpoints: $grid-breakpoints;
@import "node_modules/include-media/dist/include-media";

$link-color: #CC1100;
$title-font: 'Montserrat', sans-serif;
$paragraph-font: lato, sans-serif;

$background-light: #fff;
$background-dark: #333;

$text-dark: #333;
$text-light: #eaeaea;

@mixin float
{
  display: inline-block;
  @include transition(transform, 0.3s);
  @include transform(translateZ(0));
  @include box-shadow(0 0 1px rgba(0, 0, 0, 0));

  &:hover
  {
    @include transform(translateY(-5px));
  }
}

@mixin title-font
{
  text-transform: uppercase;
  font-family: $title-font;
  text-align: center;
}

@mixin paragraph-font
{
  font-family: $paragraph-font;
}

body
{
  font-family: lato, sans-serif;
  color: #333;
}

a
{
  color: $link-color;
  text-decoration: none;

  &:hover, a:focus
  {    
    color: darken($link-color, 40%);
  }
}

hr.dot
{
  background: url("../img/hr-dot.png") center no-repeat;
  height: 10px;
  border: none;
  margin: 20px 0 0 0;
}

.clearfix:before, .clearfix:after
{
  content: "";
  display: table;
}

.clearfix:after
{
  clear: both;
}

nav.main
{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background: transparent;
  transition: background 0.2s ease-out;

  ul
  {
    margin: 0;
    li
    {
      font-size: 1rem;
      padding: 10px 5px;      
      a
      {
        color: #111;
      }
    }
  }

  &.sticky
  {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    background: $background-dark;
    transition: background 0.2s ease-out;
    -webkit-transform: translate3d(0, 0, 0);

    ul li a
    {
      color: #fafafa;
      transition: color 0.2s ease-out;
    }

    ul li.active
    {
      background: #fff;
    }
    ul li.active a
    {
      color: #111;
    }
  }
}

section
{
  background: #000;
  margin-top: 40px;

  .container-fluid {
    background: $background-light;
    padding: 20px 0;

    .pre-heading
    {
      text-align: center;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
    }

    .line-heading
    {
      @include title-font;
      font-size: 32px;
      margin: 10px 0 0 0;
    }

    .sub-line-heading
    {
      text-align: center;
      width: 80%;
      margin: 30px auto 0;
      font-size: 18px;
      font-style: italic;
      font-family: Georgia, serif;
    }

    .pre-heading:empty, .line-heading:empty, .sub-line-heading:empty {
      display: none;
    }
  }

  .container
  {
    padding-top: 30px;
    padding-bottom: 30px;
    color: $text-light;

    h4, h3
    {
      font-family: $title-font;
      text-transform: uppercase;
    }

    p {
      color: darken($text-light, 20%);
    }
  }
}


section#head
{  
  background: $background-light;
  
  .container-fluid {
    display: none;
  }

  .container {
    color: $text-dark;
    padding-bottom: 0px;
  }
  
  h1
  {
    @include title-font; 
    margin: 0 auto 20px;
    font-size: 1.8rem;
    @include media(">sm") {
      font-size: 2.2rem;
    }
  }

  img.po
  {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
  }

  .po-quote
  {
    font-family: Georgia, serif;
    font-size: 26px;
    position: relative;
    text-align: center;
    line-height: 35px;
    margin:  0 auto;

    @include media(">md") {
      max-width: 600px; 
      margin: 30px auto 0; 
    }

    &:before
    {
      content: "\201C";
      font-size: 100px;
      display: block;
      padding: 60px 0 0;
      @include media(">md") {
        font-size: 140px;
        position: absolute;
        left: -80px;
        top: -40%;
      }      
    }

    &:after
    {
      content: "\201D";
      font-size: 100px;
      display: block;
      padding: 40px 0 0;
      @include media(">md") {
        font-size: 140px;
        position: absolute;
        right: -80px;
        top: 40%;
      }
    }
  }
}

section#social 
{
  .list-inline {
    margin: 40px auto;
    text-align: center;
    .list-inline-item {
      margin: 0;
      padding: 0 20px;
      a {
        text-decoration: none;
        color: $background-light;
        i {
          font-size: 4rem;
        }
      }
    }
  }
}

section#projects {
  background: $background-light;
  .container {
    color: $text-dark;

    .row div {
      .image {
        text-align: center;
        line-height: 200px;
        img {
        }
      }
    }
  }
  
}

section#menu
{
  background: $background-light;
  margin: 40px 0 40px;
}


section#contact
{
  .container
  {
    h5 {
      margin-top: 1rem;
    }
    img {
      height: 230px;
    }
  }
}

section#about
{
  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: .8rem;
    margin: 40px 0 0 0;
  }

  ul {
    margin: 10px 0 0 0;
    list-style-type: none;
    padding: 0;
    li {
      color: darken($text-light, 20%);
    }
  }
   
}

footer
{
  .copy
  {
    background: none repeat scroll 0 0 #484848;
    color: #FFFFFF;
    font-size: .9em;
    padding: 40px;
    margin: 50px 0 0;
  }

  .validhtml
  {
    width: 90%;
    margin: 20px auto;

    a, p
    {
      display: inline-block;
    }
  }
}

footer
{
  text-align: center;
  p
  {
    font-size: 12px;
  }
}